@import '../../node_modules/bulma/bulma';

.is-overflown {
  height: auto;
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.is-hidden {
  display: none;
}

.paragraph-break {
  word-wrap: break-word;
}
