@import '../../node_modules/bulma/bulma';

.is-overflown {
  height: auto;
  max-height: 100vh;
  overflow: auto;
}

.is-not-overflown {
  height: auto;
  max-height: 100vh;
  overflow: hidden;
}

.is-hidden {
  display: none;
}
